/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/bin
results/csharp/
results/java/
results/cpp/
results/c/
doc/.minted-ttc-fixml/
doc/auto
doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.log
doc/*.out
doc/*.synctex.gz
presentation/auto
presentation/*.aux
presentation/*.bbl
presentation/*.blg
presentation/*.log
presentation/*.out
presentation/*.synctex.gz
presentation/*.nav
presentation/*.snm
presentation/*.toc
presentation/*.vrb
postproc/.minted-ttc-fixml/
postproc/auto
postproc/*.aux
postproc/*.bbl
postproc/*.blg
postproc/*.log
postproc/*.out
postproc/*.synctex.gz
postproc/*.pag
